<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">

        <link rel="stylesheet" href="/static/main.css">

    </head>
    <body>

         <script src="js/jquery-1.11.3.min.js"></script>
         <script src="bootstrap/js/bootstrap.min.js"></script>

        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">

            <div class="back_page" style="background-color: black; padding: 20px; width: 800px; border-radius: 25px; border: 5px solid #FFC43D;"> 
                <h1 class="flask" style="font-family: Futura; font-size: 55px; color: #41CAA8">FLASK FILLER</h1>
                <br></br>

                <div class="form-group">
                    <input id="input" type="text" name="ingredients" style="" class="form-control" placeholder="Enter a list of ingredients">
                </div>
                <button type="submit" class="btn" onclick="userInput" style="background-color: #41CAA8; color: white"> Find Me Cocktails! </button>
            </div>



        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>

        <h2 id="output"></h2>

        <script>
            /*function userInput() {
                var user_input = document.getElementById("input").value
                document.getElementById("output") = user_input
            }*/

        </script>
    </body>

</html>