<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">

        <link rel="stylesheet" href="/static/main.css">


        <style>

.autocomplete-items {
  position: absolute;
  /*border: 1px solid #d4d4d4;*/
  border-bottom: none;
  border-top: none;
  z-index: 100;
  display: block;
  color: white;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items::first-letter {
    color: #41CAA8;
}

.choices ul {
    color: white;
    font-size: 20px;
}

.ing_item li {
    color: white;
    font-size: 20px;
}

.autocomplete-items div {
    display: block;
  cursor: pointer;
  color: white;
  background-color: #000; 
  /*border-bottom: 1px solid #d4d4d4; */
  text-align: left;
  padding-left: 10px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #EF476F; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


        </style>
    </head>
    <body>

         <script src="js/jquery-1.11.3.min.js"></script>
         <script src="bootstrap/js/bootstrap.min.js"></script>
         <script src="/static/script.js"></script>

        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search" autocomplete="off">

            <div class="back_page" style="background-color: black; width: 700px; border-radius: 25px;"> 


                <h1 class="flask" style="font-family: Futura; font-size: 55px; color: #41CAA8">FLASK FILLER</h1>
                <br></br>

                <div class="form-group">
                    

                    <div class="autocomplete" style="position: relative; display: inline-block; width: 500px">
                    
                    <input id="ing_input" type="text" name="ingredients" style="" class="form-control" placeholder="Enter a list of ingredients" style="border: 5px solid #41CAA8;">
                    
                    </div>
                    <button type="submit" class="btn" onclick="userInput" style="background-color: #41CAA8; color: white"> Find Me Cocktails! </button>

                    <div class="container-multi" style="display: block">
                        <ul id="choices" class="choices" style="list-style: none;">
                            
                        </ul>
                    </div>
                </div>

            </div>

        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>

        <h2 id="output"></h2>

        <script>
            var ingredients = ["151 proof rum",
"190 Proof Everclear",
"7-Up",
"Absinthe",
"Absolut Peppar",
"Acerola",
"Advocaat",
"Aftershock",
"Ale",
"Aliz\u00e9",
"Allspice",
"Almond",
"Almond flavoring",
"Almond syrup",
"Amaretto",
"Amarula Cream",
"Amer Picon",
"Angelica root",
"Angostura bitters",
"Anise",
"Anisette",
"Aperol",
"Apfelkorn",
"Apple",
"Apple brandy",
"Apple cider",
"Apple juice",
"Apple schnapps",
"Apple-cranberry juice",
"Apricot",
"Apricot brandy",
"Apricot liqueur",
"Apricot nectar",
"Aquavit",
"Asafoetida",
"Avocado",
"A\u00f1ejo rum",
"Bailey's irish cream",
"Banana",
"Banana liqueur",
"Banana rum",
"Banana syrup",
"Batida de Coco",
"Battery",
"Beef bouillon",
"Beer",
"Berries",
"Bitter lemon",
"Bitters",
"Black Sambuca",
"Black pepper",
"Black rum",
"Black vodka",
"Blackberries",
"Blackberry brandy",
"Blackberry schnapps",
"Blackcurrant cordial",
"Blackcurrant schnapps",
"Blackcurrant squash",
"Blackcurrant vodka",
"Blended whiskey",
"Bloody mary mix",
"Blue Curacao",
"Blueberries",
"Blueberry schnapps",
"Bourbon",
"Brandy",
"Bread",
"Brown sugar",
"Butter",
"Butterscotch schnapps",
"Cachaca",
"Cactus Juice liqueur",
"Campari",
"Canadian whisky",
"Candy",
"Cantaloupe",
"Cappuccino",
"Caramel",
"Caramel coloring",
"Caramel liqueur",
"Carbonated soft drink",
"Carbonated water",
"Cardamom",
"Carrot",
"Cayenne pepper",
"Celery",
"Celery salt",
"Chambord raspberry liqueur",
"Champagne",
"Cherries",
"Cherry",
"Cherry Cola",
"Cherry Heering",
"Cherry brandy",
"Cherry juice",
"Cherry liqueur",
"Cherry syrup",
"Cherry vodka",
"Chili sauce",
"Chocolate",
"Chocolate ice-cream",
"Chocolate liqueur",
"Chocolate milk",
"Chocolate mint liqueur",
"Chocolate syrup",
"Cider",
"Cinnamon",
"Cinnamon schnapps",
"Cinzano Bitters",
"Citrus rum",
"Citrus vodka",
"Clamato juice",
"Clove",
"Cloves",
"Club soda",
"Coca-Cola",
"Cocktail onion",
"Cocoa powder",
"Coconut",
"Coconut cream",
"Coconut liqueur",
"Coconut milk",
"Coconut rum",
"Coconut syrup",
"Coffee",
"Coffee brandy",
"Coffee liqueur",
"Coffeemate",
"Cognac",
"Cola",
"Collins mix",
"Condensed milk",
"Coriander",
"Corn syrup",
"Cornstarch",
"Corona",
"Cranberries",
"Cranberry juice",
"Cranberry liqueur",
"Cranberry vodka",
"Cream",
"Cream of coconut",
"Cream soda",
"Creme de Almond",
"Creme de Banane",
"Creme de Cacao",
"Creme de Cassis",
"Creme de Fraise",
"Creme de Fraise des Bois",
"Creme de Noyaux",
"Crown Royal",
"Crystal light",
"Cucumber",
"Cumin seed",
"Curacao",
"Cynar",
"Daiquiri mix",
"Dark Creme de Cacao",
"Dark rum",
"Dr. Pepper",
"Drambuie",
"Dry Vermouth",
"Dubonnet Blanc",
"Dubonnet Rouge",
"Egg",
"Egg white",
"Egg yolk",
"Eggnog",
"Erin Cream",
"Espresso",
"Everclear",
"Fanta",
"Fennel seeds",
"Fernet Branca",
"Figs",
"Firewater",
"Food coloring",
"Forbidden Fruit",
"Frangelico",
"Fresca",
"Fruit",
"Fruit cocktail",
"Fruit juice",
"Fruit punch",
"Fruit syrup",
"Galliano",
"Gatorade",
"Gelatin",
"Genever",
"George Dickel",
"Gin",
"Ginger",
"Ginger ale",
"Ginger beer",
"Glycerine",
"Godiva liqueur",
"Gold rum",
"Gold tequila",
"Goldschlager",
"Grain alcohol",
"Grand Marnier",
"Grape Pucker",
"Grape juice",
"Grape schnapps",
"Grape soda",
"Grapefruit",
"Grapefruit juice",
"Grapefruit schnapps",
"Grapefruit-lemon soda",
"Grapes",
"Grappa",
"Green Chartreuse",
"Green Creme de Menthe",
"Green Curacao",
"Grenadine",
"Guava juice",
"Guava syrup",
"Guinness stout",
"Half-and-half",
"Hawaiian Punch",
"Hazelnut liqueur",
"Heavy cream",
"Herbal liqueur",
"Honey",
"Honey liqueur",
"Hoopers Hooch",
"Horseradish",
"Hot Damn",
"Hot chocolate",
"Hot red pepper flakes",
"Hpnotiq",
"Ice",
"Ice 101",
"Ice-cream",
"Iced tea",
"Irish Mist",
"Irish cream",
"Irish whiskey",
"Jack Daniels",
"Jalapeno",
"Jello",
"Jim Beam",
"Johnnie Walker",
"Jolt Cola",
"Jose Cuervo",
"J\u00e4germeister",
"Kahlua",
"Key Largo schnapps",
"Kirschwasser",
"Kiwi",
"Kiwi liqueur",
"Kool-Aid",
"Kummel",
"Lager",
"Lakka",
"Lemon",
"Lemon gin",
"Lemon juice",
"Lemon liqueur",
"Lemon peel",
"Lemon schnapps",
"Lemon soda",
"Lemon vodka",
"Lemon-lime mix",
"Lemon-lime soda",
"Lemonade",
"Licor 43",
"Licorice root",
"Light cream",
"Light rum",
"Lillet",
"Lime",
"Lime juice",
"Lime juice cordial",
"Lime liqueur",
"Lime peel",
"Lime vodka",
"Limeade",
"Limoncello",
"Lingonberry jam",
"Mad Dog 20/20",
"Madeira",
"Malibu rum",
"Malt liquor",
"Mandarin",
"Mandarine Napoleon",
"Mango",
"Mango juice",
"Mango liqueur",
"Mango syrup",
"Maple syrup",
"Maraschino cherry",
"Maraschino cherry juice",
"Maraschino liqueur",
"Margarita mix",
"Marjoram leaves",
"Marshmallows",
"Maui",
"Mello Yello",
"Melon liqueur",
"Melon vodka",
"Metaxa",
"Mezcal",
"Midori melon liqueur",
"Milk",
"Mint",
"Mint syrup",
"Molasses",
"Monin bitter",
"Mountain Dew",
"Nutmeg",
"Nuts",
"Olive",
"Olive juice",
"Orange",
"Orange Curacao",
"Orange Vermouth",
"Orange bitters",
"Orange juice",
"Orange liqueur",
"Orange peel",
"Orange rum",
"Orange soda",
"Orange spiral",
"Orange vodka",
"Orange-flower water",
"Oreo cookie",
"Orgeat syrup",
"Ouzo",
"Papaya",
"Papaya juice",
"Parfait d'Amour",
"Passion fruit juice",
"Passion fruit syrup",
"Passoa",
"Peach",
"Peach Vodka",
"Peach brandy",
"Peach juice",
"Peach liqueur",
"Peach nectar",
"Peach schnapps",
"Peachtree schnapps",
"Peanut liqueur",
"Pear",
"Pear brandy",
"Pear juice",
"Pear liqueur",
"Pear soft drink",
"Pepper sauce",
"Peppermint extract",
"Peppermint schnapps",
"Pepsi Cola",
"Pernod",
"Peychaud bitters",
"Pickled pepper",
"Pimm's No. 1",
"Pina colada mix",
"Pineapple",
"Pineapple juice",
"Pineapple rum",
"Pineapple soda",
"Pineapple vodka",
"Pineapple-coconut juice",
"Pineapple-orange juice",
"Pineapple-orange-banana juice",
"Pineau des Charentes",
"Pink lemonade",
"Pisang Ambon",
"Pisco",
"Pistachio liqueur",
"Pi\u00f1a Colada",
"Plums",
"Port",
"Powdered sugar",
"Prune juice",
"Pumpkin",
"Purple passion",
"Raisins",
"Raspberries",
"Raspberry cordial",
"Raspberry jam",
"Raspberry juice",
"Raspberry liqueur",
"Raspberry schnapps",
"Raspberry syrup",
"Raspberry vodka",
"Razzmatazz",
"Red Bull",
"Red wine",
"RedRum",
"Rhubarb",
"Ricard",
"Rock and rye",
"Root beer",
"Root beer schnapps",
"Rose's sweetened lime juice",
"Rosewater",
"Rum",
"Rum cream liqueur",
"Rumple Minze",
"Rye whiskey",
"Safari",
"Sake",
"Salt",
"Sambuca",
"Sarsaparilla",
"Saurer apfel",
"Schnapps",
"Schweppes Lemon",
"Schweppes Russchian",
"Scotch",
"Seagram 7",
"Sherbet",
"Sherry",
"Shochu",
"Sirup of roses",
"Sloe gin",
"Snapple",
"Soda water",
"Sour Apple Pucker",
"Sour apple liqueur",
"Sour mix",
"Southern Comfort",
"Soy milk",
"Soy sauce",
"Sparkling white wine",
"Spiced rum",
"Sprite",
"Squirt",
"St. Hallvard",
"Stout",
"Strawberries",
"Strawberry juice",
"Strawberry liqueur",
"Strawberry schnapps",
"Strawberry syrup",
"Strawberry vodka",
"Strega",
"Sugar",
"Sugar syrup",
"Sunny delight",
"Surge",
"Swedish Punsch",
"Sweet Vermouth",
"Sweet and sour",
"Swiss Mocha Cream liqueur",
"Tabasco sauce",
"Taboo",
"Tang",
"Tawny port",
"Tea",
"Tennessee whiskey",
"Tequila",
"Tequila Rose",
"Thunderbird",
"Tia maria",
"Tomato juice",
"Tonic water",
"Triple sec",
"Tropical fruit schnapps",
"Tuaca",
"V8 juice",
"Vanilla",
"Vanilla extract",
"Vanilla ice-cream",
"Vanilla liqueur",
"Vanilla schnapps",
"Vanilla syrup",
"Vanilla vodka",
"Vermouth",
"Vinegar",
"Vodka",
"Water",
"Watermelon",
"Watermelon liqueur",
"Watermelon schnapps",
"West Coast Cooler",
"Whipped cream",
"Whipping cream",
"Whiskey",
"Whisky",
"White Creme de Menthe",
"White chocolate liqueur",
"White cranberry juice",
"White grape juice",
"White port",
"White rum",
"White wine",
"Wild Spirit liqueur",
"Wild Turkey",
"Wildberry schnapps",
"Wine",
"Worcestershire sauce",
"Wormwood",
"Yeast",
"Yellow Chartreuse",
"Yoghurt",
"Yukon Jack",
"Zima"];

function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  var list = document.getElementById("choices")
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");

      
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              item = document.createElement("li")
              item.innerHTML = this.getElementsByTagName("input")[0].value;
              item.style.color = white;
              item.setAttribute("class", "ing_item");
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
          list.appendChild(item)
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}

autocomplete(document.getElementById("ing_input"), ingredients);

        </script>
    </body>

</html>