@media (min-width: 1200px) {
	.container {
	    max-width: 970px;
	}
}
@media (min-width:400px) {
	.global-search {
	padding: 20px 0;
	text-align:center;
}
body {
	padding-top: 15%;
	padding-bottom: 15px;
	background-color: black;
}

.global-search {
	text-align:center;
	padding:10px;
}
.global-search .form-control {
	width:500px;
    border: 2px solid #dadada;
    border-radius: 7px;
}

.global-search * {
	display:inline-block;
	margin-bottom:0;
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #07A286;
color: white;
border: none
}
.btn:hover{
background-color: black;
}

.step-links a{

font-size: 55px;
font-family:'Futura';
color: #06CEA9;
}

#title .step-links a {
	font-size: 55px;
	font-family:'Futura';
	color: #06CEA9;

}